<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qtec.learn.mybatis.UserDao">
    <resultMap id="userMap" type="cn.qtec.learn.mybatis.User">
        <id property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="sex" column="sex"/>
        <result property="desc" column="desc"/>
    </resultMap>
    <select id="getUser" resultMap="userMap">
        SELECT id,userName,sex,"desc" FROM userinfo
    </select>
</mapper>